* {
  font-family: sans-serif;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto 1fr; /* Adjust the heights of the rows as needed */
  min-height: 100vh; /* Ensure the grid covers the full height of the viewport */
}

header,
footer {
  background-color: #333; /* Stripe color */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  grid-row: 1; /* Position the header in the first row */
}

footer {
  grid-row: 3; /* Position the footer in the third row */
}
