* {
  font-family: "Ysabeau", sans-serif;
  font-size: 3vh;
}

:root {
  --bg-color: #FFFFFF; 
  --color: #14110F;
  --primary: #20A4F3; 
  --secondary: #EC008C;
  --tertiary: #C2E812;
  --dark-bg-color: #14110F; 
  --dark-color: #FFFFFF;

  --yuyuan: #808000;
  --felix: #FF0000;
}

body {
  background-color: var(--bg-color); 
  color: var(--color);
  display: flex;
  flex-direction: column;
  min-height: 30vh; 
  margin: 0;
}

header {
  height: 2.3em;
  background-color: var(--color); 
  color: var(--bg-color); 
  display: sticky;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2.3em;
  font-size: 5vh;
  font-weight: bold;
  padding-left: 20px;
  margin-bottom: 50px;
}

footer {
  height: 2.3em;
  background-color: var(--bg-color); 
  color: var(--color);  
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 2.0em;
  font-weight: bold;
  grid-row: 3; 
  padding-left: 10%;
  padding-right: 10%;
}

a {
  color: var(--primary); 
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}


main {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
}

body.dark-mode {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}
.dark-mode header {
  background-color: var(--primary); 
  color: var(--dark-bg-color);
}
.dark-mode footer {
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

.about_me {
  display: flex;
  gap: 30px;
}

.carlos_pic {
  height: 15em;
  aspect-ratio: 0.75;
}

/* Interactive buttons */

.homeButton {
  width: 150px; 
  height: 150px;
  cursor: pointer;
  background-repeat: no-repeat;
  animation: homeAnimation 1s steps(1) infinite;
  position: absolute;
}

.toggler {
  width: 150px; 
  height: 150px;
  cursor: pointer;
  background-repeat: no-repeat;
  animation: moonAnimation 1s steps(1) infinite;
}

.dark-mode .toggler {
  animation: sunAnimation 1s steps(1) infinite;
}

@keyframes moonAnimation {
  0% {
      background-image: url('./SVGs/moonSprite1.svg');
  }
  50% {
      background-image: url('./SVGs/moonSprite2.svg');
  }
  100% {
      background-image: url('./SVGs/moonSprite1.svg');
  }
}

@keyframes sunAnimation {
  0% {
      background-image: url('./SVGs/sunSprite1.svg');
  }
  50% {
      background-image: url('./SVGs/sunSprite2.svg');
  }
  100% {
      background-image: url('./SVGs/sunSprite1.svg');
  }
}

@keyframes homeAnimation {
  0% {
      background-image: url('./SVGs/sunSprite1.svg');
  }
  50% {
      background-image: url('./SVGs/sunSprite2.svg');
  }
  100% {
      background-image: url('./SVGs/sunSprite1.svg');
  }
}


/* Smartphone changes */
@media (min-width: 1051px) {
  .sp-only {
    display: none;
  }
}

/* Smartphone changes */
@media (max-width: 1050px) {
  .pc-only {
    display: none;
  }

  header {
    height: 4.6em;
    background-color: #14110F; 
    color: #DAE0F2; 
    display: sticky;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2.3em;
    font-size: 5vh;
    font-weight: bold;
    padding-left: 20px;
  }

  .about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .carlos_pic {
    height: 12em;
    aspect-ratio: 0.75;
  }
}

/* Seminar page styles */

ul {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
  padding-inline-start: 0px;
  width: 100%;
  gap: 20px;
}


.sem_entry {
  flex-grow: 1;
  outline: 1px solid #14110F;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  color: #14110F;
  transition: all smooth 0.8s;
}

.dark-mode .sem_entry {
  flex-grow: 1;
  outline: 1px solid #EDF4ED;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  color: #EDF4ED;
  transition: all smooth 0.8s;
}

/* Friend styles */

.carlos {
  color: var(--primary); 
  text-decoration: none;
}

.carlos:hover {
  text-decoration: underline;
}

.genericFriend {
  color: var(--secondary); 
  text-decoration: none;
}

.genericFriend:hover {
  text-decoration: underline;
}

.yuyuan {
  color: var(--yuyuan); 
  text-decoration: none;
}

.yuyuan:hover {
  text-decoration: underline;
}

.felix {
  color: var(--color); 
  text-decoration: none;
}

.felix:hover {
  color: var(--adark-color);
  background-color: var(--felix);
}

.dark-mode .felix {
  color: var(--dark-color);
  text-decoration: none;
}

.dark-mode .felix:hover {
  color: var(--dark-color);
  background-color: var(--felix);
}